$white: #fff;
$black: #000;
$grey: #696868;
$lightGrey: #373434;
$darkGrey: #222;
$green: #8eb200;
$light-grey: #ccc;

$header-height: 60px;

// greenText #336633  18pt 24pt
// red #993333


.bg-white  {
  background-color: $white;
}
