<div *ngIf="!title; else forminfo" class="row">
  <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
    <div class="form-group">
      <input type="text" formControlName="title" class="form-control">
    </div>
    <div class="form-group">
      <textarea rows="3" formControlName="description" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <input type="submit" value="Send" class="btn" [disabled]="!rForm.valid">
    </div>
  </form>
</div>
<ng-template #forminfo>
  <div class="col-sm-12">
    <h2>{{title}}</h2>
    <p>{{description}}</p>
  </div>
</ng-template>
